@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
body  {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}